#box1 {
    display: flex;
    justify-content: space-around;
}

#box1_event {
    flex-basis: 38%;
    height: 400px;
    border: 1px solid black;
}

#box1_article {
    flex-basis: 38%;
    height: 400px;
    border: 1px solid black;
}

#box1_message {
    flex-basis: 22%;
    height: 400px;
    border: 1px solid black;
}

#box2 {
    display: flex;
    justify-content: space-around;
}

#box2_task {
    flex-basis: 76%;
    height: 200px;
    border: 1px solid black;
}

#box2_friend {
    flex-basis: 22%;
    height: 200px;
    border: 1px solid black;
}